@import '../../base.scss';

:host {
	.left {
		height: 88vh;
		overflow: auto;
	}

	.right {
		overflow: auto;
		height: 88vh;
		.action {
			display: flex;
			min-width: 300px;
			justify-content: space-between;
		}
	}
}
