<fd-layout-grid>
	<div fdLayoutGridRow>
		<div [fdLayoutGridCol]="12" [colMd]="6" [colLg]="4" [colXl]="3">
			<div class="card">工作信息</div>
		</div>

		<div [fdLayoutGridCol]="12" [colMd]="6" [colLg]="4" [colXl]="3">
			<div class="card">股市信息</div>
		</div>

		<div [fdLayoutGridCol]="12" [colMd]="6" [colLg]="4" [colXl]="3">
			<div class="card"></div>
		</div>

		<div [fdLayoutGridCol]="12" [colMd]="6" [colLg]="4" [colXl]="3">
			<div class="card"></div>
		</div>
	</div>
	<div [fdLayoutGridCol]="12" [colMd]="6" [colLg]="4" [colXl]="3">
		<div class="card"></div>
	</div>

	<div [fdLayoutGridCol]="12" [colMd]="6" [colLg]="4" [colXl]="3">
		<div class="card"></div>
	</div>

	<div [fdLayoutGridCol]="12" [colMd]="6" [colLg]="4" [colXl]="3">
		<div class="card"></div>
	</div>

	<div [fdLayoutGridCol]="12" [colMd]="6" [colLg]="4" [colXl]="3">
		<div class="card"></div>
	</div>
</fd-layout-grid>
