<fd-layout-grid>
	<div fdLayoutGridRow>
		<div [fdLayoutGridCol]="3">
			<div class="card">
				<app-pomodoro-timer></app-pomodoro-timer>
			</div>
		</div>
		<div [fdLayoutGridCol]="3">
			<div class="card"></div>
		</div>

		<div [fdLayoutGridCol]="6">
			<div class="card"></div>
		</div>

		<div [fdLayoutGridCol]="7">
			<div class="card">
				<iframe src="http://value500.com/indexpepb.asp" frameborder="0" height="100%" width="100%"></iframe>
			</div>
		</div>

		<div [fdLayoutGridCol]="5">
			<div class="card">
				<iframe
					#debtIframe
					src="https://www.jisilu.cn/data/idx_performance/#idx"
					frameborder="0"
					height="100%"
					width="100%"
				></iframe>
			</div>
		</div>
		<!-- https://quote.eastmoney.com/stock/171.CN10Y.html -->
		<div [fdLayoutGridCol]="6">
			<div class="card">
				<iframe src="https://www.jisilu.cn/data/etf/#index" frameborder="0" height="100%" width="100%"></iframe>
			</div>
		</div>
		<div [fdLayoutGridCol]="6">
			<div class="card">
				<iframe src="https://www.jisilu.cn/data/lof/#stock" frameborder="0" height="100%" width="100%"></iframe>
			</div>
		</div>
	</div>
</fd-layout-grid>
