@import '../../base.scss';

:host {
	fd-layout-grid {
		padding: 1rem;
	}
	.card {
		height: 700px;
		overflow-y: auto;
		background-color: var(--sapBaseColor);
		&-search {
			width: 100%;
		}
	}
}


