<fd-panel [fixed]="true">
	<h5 fd-panel-title>AI Reference links</h5>
	<div fd-panel-content>
		<div class="link">
			<a href="http://openai.cha-tai.cn/?hometype=chat" target="chatai" fd-link aria-label="Standard">Chat AI</a>
		</div>
		<div class="link">
			<a
				href="https://aishenqi.net/?utm_source=bigezhang.com"
				target="aishenqidaquan"
				fd-link
				aria-label="Standard"
				>AI神器大全</a
			>
		</div>
		<div class="link">
			<a href="https://docs.anthropic.com/zh-CN/home" target="anthropic" fd-link aria-label="Standard"
				>anthropic</a
			>
		</div>
	</div>
</fd-panel>
<fd-panel [fixed]="true">
	<h5 fd-panel-title>我的AI收藏</h5>
	<div fd-panel-content>
		<div class="link">
			<a href="https://xiaozhi.me/" target="moly" fd-link aria-label="Standard">Moly 控制台</a>
		</div>
	</div>
</fd-panel>
<fd-panel [fixed]="true">
	<h5 fd-panel-title>我的其他收藏</h5>
	<div fd-panel-content>
		<div class="link">
			<a href="https://kf369.cn/" target="kf369" fd-link aria-label="Standard">KF369 学习资源网址大全</a>
		</div>
	</div>
</fd-panel>
<fd-panel [fixed]="true">
	<h5 fd-panel-title>前端技术收藏</h5>
	<div fd-panel-content>
		<div class="link">
			<a href="https://daisyui.com/" target="daisyui" fd-link aria-label="Standard">daisy UI 库</a> /
			<a href="https://tailwindcss.com/" target="tailwindcss" fd-link aria-label="Standard">Tailwind CSS</a>
		</div>
	</div>
</fd-panel>
